<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class> m2geii.forum.servlets.Index</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>m2geii.forum.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateClient</servlet-name>
    <servlet-class>m2geii.forum.servlets.CreateClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateClient</servlet-name>
    <url-pattern>/CreateClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>m2geii.forum.servlets.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisconnectClient</servlet-name>
    <servlet-class>m2geii.forum.servlets.DisconnectClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectClient</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateConversation</servlet-name>
    <servlet-class>m2geii.forum.servlets.CreateConversation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateConversation</servlet-name>
    <url-pattern>/CreateConversation</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PostsServlet</servlet-name>
  	<servlet-class>m2geii.forum.servlets.PostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PostsServlet</servlet-name>
  	<url-pattern>/main/posts</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
</web-app>